<div class="row">
  <h1 class="userName"> {{person.first_name}} {{person.last_name}} </h1>
  <h2 class="userName"> Welcome to the VAX-Track </h2>

</div>
{{!-- Card with Data --}}
<div class="row">
  <div class="col-6">
    <div class="card" id="caseCard">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img src="/assets/img/zero.png" class="card-img" id="zero">
            <img src="/assets/img/one.png" class="card-img" id="one">
            <img src="/assets/img/twothree.png" class="card-img" id="twothree">
            <img src="/assets/img/four.png" class="card-img" id="four">
            <img src="/assets/img/five.png" class="card-img" id="five">
          </div>
          <div class="col-md-8">
            <h4 class="card-title">{{ person.state }} - Risk Level</h4>
            <p class="card-text">There are <span id="cases"></span> active cases in your state.</p>
            <p class="card-text">Your are in an area with <span id="level"></span> Risk</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- Pass in partials here --}}
  <div class="col-6">

    {{#if person.essential_worker}}
    {{> shots/map-block}}
    {{else}}
    {{> shots/shots-block}}
    {{/if}}

  </div>


</div>
{{!-- news ticker --}}
<div class="row">

  <div class="col-4">
    <div class="card" class="news">
      <div class="card-body">
        <a href="" id="link1">
          <h5 id="story1"></h5>
        </a>
        <img id="img1" src="">
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card" class="news">
      <div class="card-body">
        <a href="" id="link2">
          <h5 id="story2"></h5>
        </a>
        <img id="img2" src="">
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card" class="news">
      <div class="card-body">
        <a href="" id="link3">
          <h5 id="story3"></h5>
        </a>
        <img id="img3" src="">
      </div>
    </div>
  </div>

</div>

<script>

  $(document).ready(() => {

    const key = "{{key}}";
    const userState = "{{ person.state }}";

    const stateData =
      `https://api.covidactnow.org/v2/state/${userState}.json?apiKey=` + key;
    console.log(stateData);

    $.ajax({
      url: stateData,
      method: "GET",
    }).then((response) => {
      console.log(response.url);
      $("#userState").append(response.state);

      if (response.riskLevels.overall === "0") {
        $("#one").hide();
        $("#twothree").hide();
        $("#four").hide();
        $("#five").hide();
        $("#level").append("LOW");
      }
      if (response.riskLevels.overall === "1") {
        $("#zero").hide();
        $("#twothree").hide();
        $("#four").hide();
        $("#five").hide();
        $("#level").append("MEDIUM");
      }
      if (response.riskLevels.overall === "2" || "3") {
        $("#zero").hide();
        $("#one").hide();
        $("#four").hide();
        $("#five").hide();
        $("#level").append("HIGH");
      }
      if (response.riskLevels.overall === "4") {
        $("#zero").hide();
        $("#one").hide();
        $("#twothree").hide();
        $("#five").hide();
        $("#level").append("a VERY HIGH ");
      }
      if (response.riskLevels.overall === "5") {
        $("#zero").hide();
        $("#one").hide();
        $("#twothree").hide();
        $("#five").hide();
        $("#level").append("SEVERE")
      }

      $("#cases").append(response.actuals.cases);

    });


    function news() {
      const queryURL = "https://newsapi.org/v2/top-headlines?q=Covid&country=us&apiKey=4c69d7118754493f9e6163e5daa1d3cc";
      $.ajax({
        url: queryURL,
        method: "GET",
      }).then((response) => {
        console.log(response.articles[0].title);
        $("#story1").append(response.articles[0].title);
        $("#link1").attr("href", response.articles[0].url);
        $("#img1").attr("src", response.articles[0].urlToImage);

        $("#story2").append(response.articles[1].title);
        $("#link2").attr("href", response.articles[1].url);
        $("#img2").attr("src", response.articles[1].urlToImage);

        $("#story3").append(response.articles[2].title);
        $("#link3").attr("href", response.articles[2].url);
        $("#img3").attr("src", response.articles[2].urlToImage);

      });
    };
    news();
  });
</script>