<div class="card text-center">

  <div class="card-body">
    <h3 class="card-title">Hi {{person.first_name}} from {{ person.state }} </h3>
    <h6 class="card-text">Active Cases in <span id="userState">{{ person.state }}</span>: <span id="cases"></span></h6>
    <a href="#" class="btn btn-warning" id="riskLevelMed"></a>
    <a href="#" class="btn btn-danger" id="riskLevelHigh"></a>
    <a href="#" class="btn btn-success" id="riskLevelLow"></a>
    <h6>Are you Eligible?</h6>
  </div>

</div>
<script>

  $(document).ready(() => {
    const key = "{{key}}"; 
    const userState = "{{ person.state }}";
    console.log(userState);
    // node fetch

    const stateData =
      `https://api.covidactnow.org/v2/state/${userState}.json?apiKey=` + key;


    $.ajax({
      url: stateData,
      method: "GET",
    }).then((response) => {
      console.log(response.url);
      $("#userState").append(response.state);
      $("#cases").append(response.actuals.cases);

      if (response.riskLevels.overall === "2" || "3" || "4" || "5") {
        $("#riskLevelHigh").append("Critical to Extreme Risk Level");
        $("#riskLevelLow").hide();
        $("#riskLevelMed").hide();
      }
      if (response.riskLevels.overall === "0") {
        $("#riskLevelHigh").hide();
        $("#riskLevelLow").append("Critical to Extreme Risk Level");
        $("#riskLevelMed").hide();
      }
      if (response.riskLevels.overall === "1") {
        $("#riskLevelHigh").hide();
        $("#riskLevelLow").hide();
        $("#riskLevelMed").append("Critical to Extreme Risk Level");
      }
    });

  });
</script>

{{!--
<script src="/assets/js/statedata.js"></script> --}}